@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap");
body {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(186, 242, 255),
    rgb(255, 206, 248),
    rgb(212, 212, 255),
    rgb(228, 183, 250)
  );
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#start-quiz-btn {
  width: 7vw;
  height: 5vh;
  border-radius: 15px;
  background: linear-gradient(135deg, #0a81ff, #5b7df1);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

#start-quiz-btn:hover {
  background: linear-gradient(135deg, #3e8bff, #1e6fb1);
  transform: scale(1.05);
}

.quiz-container {
  margin: 0px;
  width: 38vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.question-container {
  width: 100%;
  margin: 10px 0 15px;
}

#question_no {
  text-align: center;
}

#question {
  text-align: center;
  margin-bottom: 3px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

button {
  width: 7vw;
  height: 5vh;
  border-radius: 15px;
  background: linear-gradient(135deg, #0a81ff, #5b7df1);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(135deg, #3e8bff, #1e6fb1);
  transform: scale(1.01);
}

button:disabled {
  width: 7vw;
  height: 5vh;
  cursor: not-allowed;
  background: #b5b5b5;
  box-shadow: none;
}

.sub-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#previous-btn:disabled,
#next-btn:disabled {
  cursor: not-allowed;
}
#option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.opt {
  display: flex;
  justify-content: center;
  width: 18vw;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 25px;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.opt:hover {
  background-color: #d1e6f7;
  transform: scale(1.03);
}

.opt:active {
  background-color: #acb8c5;
  transform: scale(0.98);
}

.selected {
  background-color: #0a81ff;
  color: white;
}

.opt.selected:hover {
  background-color: #0a81ff;
  transform: none;
}
.ans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mark {
  color: rgb(255, 0, 230);
  font-size: xx-large;
  font-style: italic;
}

#status {
  color: rgb(255, 0, 230);
  font-size: xx-large;
  font-style: italic;
  margin-bottom: 40px;
}

#head {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
}

/* Mobile Phones */
@media screen and (max-width: 600px) {
  #start-quiz-btn {
    width: 60vw;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    height: 5vh;
  }

  .quiz-container {
    width: 100vw;
    padding: 15px;
  }

  .question-container {
    width: 100%;
    font-size: 1rem;
  }
  .opt {
    width: 90%;
    font-size: 1rem;
    padding: 12px;
  }

  button {
    width: 50vw;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    height: 5vh;
  }

  button:disabled {
    width: 50vw;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    height: 5vh;
  }

  #question {
    font-size: 1.1rem;
    padding: 0 10px;
  }

  #submit-btn {
    width: 50vw;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    height: 6vh;
  }
  .btn {
    flex-direction: column;
    gap: 11px;
    align-items: center;
  }
  .opt:hover {
    background-color: #d1e6f7;
    transform: scale(1.03);
  }

  .opt:active {
    background-color: #acb8c5;
    transform: scale(0.98);
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #start-quiz-btn {
    width: 30vw;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    height: 6vh;
  }

  .quiz-container {
    width: 90vw;
    padding: 20px;
  }

  .question-container {
    width: 70vw;
    font-size: 1.2rem;
    text-align: center;
  }

  .opt {
    width: 70%;
    font-size: 1.5rem;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
  }

  button {
    width: 30vw;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    height: 6vh;
  }

  button:disabled {
    width: 30vw;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    height: 6vh;
  }

  #question {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
  }

  #submit-btn {
    width: 30vw;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    height: 6vh;
    margin-top: 15px;
  }

  .btn {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .opt:hover {
    background-color: #d1e6f7;
    transform: scale(1.03);
  }

  .opt:active {
    background-color: #acb8c5;
    transform: scale(0.98);
  }
}
